.main {
  background-color: rgb(255, 180, 211);
  flex-grow: 1;
  width: 100%;
  padding-top: 100px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
}
