@import '../../utils/variables.scss';

.amount-changer {
  display: flex;
  justify-content: center;

  &__btn {
    background-color: $red-default;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 38px;
    transition: background-color .3s;

    &:not(:disabled):hover {
      background-color: $red-hover;
    }

    &_loading {
      opacity: .5;
    }
  }

  &__number {
    min-width: 38px;
    text-align: center;
    background-color: white;
    margin: 0 5px;
    border-radius: 5px;
    line-height: 1;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 500;
  }
}