@import '../../utils/variables.scss';

.auth {
  background-color: $background-pink;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    text-align: center;
    margin: 0 0 20px;
  }

  &__form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
  }

  &__row {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;

    &:focus {
      outline: 1px solid $grey-medium;
    }
  }

  &__error {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    font-size: 12px;
  }

  &__api-error {
    position: absolute;
    bottom: 30px;
    left: 0;
    font-size: 15px;
    text-align: center;
    width: 100%;
    color: $red-default
  }

  &__btn {
    background-color: $red-default;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
    margin-top: 20px;

    &:not(:disabled):hover {
      background-color: $red-hover;
    }

    &_disabled {
      opacity: .3;
      cursor: default;
    }
  }

  &__subtext {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    &-question {
      margin: 0;
    }

    &-link {
      color: black;
      font-weight: 500;
    }

    &-to-main {
      width: 100%;
      text-align: center;
      color: black;
      font-weight: 500;
    }
  }
}