@import '../../utils/variables.scss';

.profile {
  flex-grow: 1;
  background-color: $background-pink;
  padding: 100px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__greeting {
    text-align: center;
    margin: 0;
    font-size: 25px;
  }

  &__form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }

  &__fieldset {
    border: 1px solid $grey-medium;
    border-radius: 5px;
    padding: 10px 10px 35px;
    box-sizing: border-box;
    width: 100%;
    gap: 15px;
    position: relative;
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-medium;
    padding-bottom: 10px;
  }

  &__input {
    text-align: center;
    background-color: transparent;
    border: none;
    color: black;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    &:not(:disabled) {
      background-color: white;
      border-radius: 5px;
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &:focus {
      outline: 1px solid $grey-medium;
    }

    &:invalid {
      outline: 1px solid $red-default;
    }
  }

  &__error {
    position: absolute;
    bottom: -5px;
    font-size: 14px;
    width: calc(100% - 20px);
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;

    @media screen and (max-width:768px) {
      font-size: 12px;
      bottom: 0;
    }

    &_second {
      bottom: 57px;

      @media screen and (max-width:768px) {
        font-size: 12px;
        bottom: 60px;
      }
    }

    &-api {
      position: absolute;
      bottom: 38px;
      width: 100%;
      text-align: center;
      color: $red-default;
      font-weight: 500;
      left: 0;
    }
  }

  &__submit {
    background-color: $red-default;
    border-radius: 5px;
    border: none;
    padding: 15px 10px;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    transition: opacity .3s;

    &:hover:not(:disabled) {
      opacity: .7;
    }

    &:disabled {
      opacity: .3;
    }
  }

  &__edit {
    background-color: $red-default;
    border-radius: 5px;
    border: none;
    padding: 15px 10px;
    color: white;
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }
  }

  &__cancel {
    background-color: transparent;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid;
    color: $red-default;
    width: 100%;
    max-width: 600px;
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }
  }

  &__exit {
    background-color: $grey-dark;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    width: 100%;
    max-width: 600px;
    transition: opacity .3s;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}