@import '../../utils/variables.scss';

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  &__container {
    max-width: 1200px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__logo {
    font-family: $font-stack;
    font-size: 20px;
    margin: 0;
    color: black;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__link {
    font-family: $font-stack;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      opacity: .7;
    }

    &_active {
      text-decoration: underline;
    }

    &_t {
      &_signup {
        @media screen and (max-width: 425px) {
          display: none;
        }
      }
    }
  }

  &__btns {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  &__btn {
    width: 30px;
    height: 30px;
    background-image: url(../../images/cart.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      opacity: .7;
    }

    &-amount {
      position: absolute;
      font-size: 12px;
      top: -5px;
      right: -5px;
      min-width: 21px;
      color: white;
      z-index: 300;
      background-color: $red-default;
      padding: 4px;
      box-sizing: border-box;
      border-radius: 50%;
      text-align: center;
      z-index: 200;
    }
  }
}