@import '../../utils/variables.scss';

.pagination {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__limit {
    display: flex;
    gap: 8px;
    color: $grey-dark;
    margin-left: auto;
  }

  &__label {
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }
  }

  &__checkbox {
    display: none;

    &:checked+.pagination__label {
      font-weight: 500;
      color: black;

      &:hover {
        opacity: 1;
      }
    }
  }
}